*.node_modules/
*.play/node_modules/
*.play/node_modules/
*.docs/node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

*. */node_modules/

*.log
*.lock

*.tmp
*.temp
*.bak
*.swp

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules
