@use 'mixins/mixins.scss' as *;

@include b(carousel) {
  overflow: hidden;

  position: relative;
  font-size: 12px;
  size: 30px;
  background-color: #c0c4cc;
  &:hover {
    background-color: rgba(31,45,61,.23);
  }
  @include e(arrow) {
    border: none;
    outline:none;
    padding: 0;
    margin: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    background-color: rgba(31,45,61,.11);
    color: #fff;
    position: absolute;
    top:50%;
    z-index: 10;
    // transform: translateY(-50%);
    text-align: center;
    font-size: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  @include e(left){
    left: 16px;
  }
  @include e(right){
    right: 16px;
  }

  @include e(indicatorsList){
    bottom: 0;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    line-height: 1.7;
  }
  @include e(indicator){
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    padding: 12px 4px;
  }

  @include e(indicatorButton){
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    height: 2px;
    margin: 0;
    opacity: .48;
    outline: none;
    padding: 0;
    transition: 0.3s;
    width: 30px;
    @include when(active){
      opacity: 1;
    }
  }
 
}

.carousel-arrow-left-enter-active,
.carousel-arrow-right-enter-active,
.carousel-arrow-left-leave-active,
.carousel-arrow-right-leave-active {
  transition: all 3s ease;
}

.carousel-arrow-left-enter-from,
.carousel-arrow-left-leave-to{
  transform: translateX(-50%);
  opacity: 0;
}

.carousel-arrow-right-enter-from,
.carousel-arrow-right-leave-to {
  transform: translateX(50%);
  opacity: 0;
}
