@use '../mixins/mixins.scss' as *;
@use '../common/var.scss' as *;


@include b(form-item) {
  display: flex;
  font-size: 14px;
  margin-bottom: 18px;

  @include m(inline) {
    display: inline-flex;
    margin-right: 32px;
  }

  @include m(default) {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 32px;
  }

  @include m(large) {
    font-size: 18px;
    margin-bottom: 22px;
    line-height: 40px;
  }

  @include m(small) {
    font-size: 12px;
    margin-bottom: 18px;
    line-height: 24px;
  }

  @include e(label) {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    color: #606266;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 0 12px 0 0;


    // display: block;
    // height: auto;
    // text-align: left;
    // margin-bottom: 8px;
    // line-height: 22px;
  }


  @include e(content) {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    // font-size:  14px;
    min-width: 0;
    position: relative;
   
  }
}