@use '../mixins/mixins.scss' as *;
@use '../common/var.scss' as *;


@include b(table-header){
  border: 5px solid #fff;
  @include e(thead){
    color: #909399;
  }
  @include e(tr){
    background-color: #fff;
  }
  @include e(table-cell){
    background-color: #fff;
    border-bottom: 1px solid #ebeef5;
    border-right: none;
    padding: 8px 0;
    // min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 1;
    font-weight: 600;
    display: table-cell;
  }
  @include e(cell){
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 23px;
    padding: 0 12px;
  }

  @include e(caret-wrapper) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 14px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
  }

  @include e(sort-caret) {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    position: absolute;
    left: 7px;

    @include when(ascending){
      border-bottom-color: #409eff;
    }

    @include when(descending) {
      border-top-color:#409eff;
    }
  }

  @include e(asc) {
    border-bottom-color: #a8abb2;
    top: -5px;
  }

  @include e(desc) {
    border-top-color:#a8abb2;
    bottom: -3px;
  }


  @include e(filter-trigger) {
    display: inline-block;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    i{
      color: #909399;
      font-size: 14px;
      vertical-align: middle;
    }
    @include when(filter) {
      transform: rotate(-180deg);
    }
  }

  @include e(icon) {
    height: 1em;
    width: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill:currentColor;

  }
  

  @include e(filter-group) {
    padding: 10px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    width: 200px;
    height: 100px;
  }

  


}

